---
import { getCollection } from "astro:content";
const { showAll = false, limit = 3 } = Astro.props;

const listMountaineering = await getCollection("mountaineering", ({ data }) =>
  import.meta.env.PROD ? !data.draft : true
);
const mountaineering = listMountaineering
  .sort((a, b) => a.data.order - b.data.order)
  .slice(0, showAll ? undefined : limit);
---

<!-- Expes Grid -->
  <section class="py-16 bg-white">
    <div class="container mx-auto px-4">
      <div class="text-center mb-12">
        <h2 class="text-3xl md:text-4xl font-bold mb-4">Choose your next adventure</h2>
        <p class="text-xl text-gray-600 max-w-3xl mx-auto">
          Explore our ministries to grow in faith, connect with community, and serve.
        </p>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {mountaineering.map(m => (
        <a
          href={`/mountaineering/${m.slug}`}
          class="
          g-white rounded-sm shadow 
          flex flex-col overflow-hidden 
          hover:shadow-lg transition
          min-h-[370px]
          "
        >
            {m.data.image && (
              <div class="w-full h-[200px] overflow-hidden">
                <img
                  src={m.data.image}
                  alt={m.data.title}
                  class="w-full h-full object-cover transform transition duration-500 hover:scale-110 hover:brightness-90"
                />
              </div>
            )}

            <div class="p-4 flex flex-col flex-1 justify-between">
              <div>
                <h3 class="text-xl font-semibold mb-2">{m.data.title}</h3>
                <p class="text-gray-700">{m.data.summary}</p>
              </div>
              {(m.data.season || m.data.difficulty || m.data.pax) && (
                <div class="mt-4 space-y-1 text-sm text-gray-600">
                  {m.data.dates && (
                    <div class="flex items-center">
                      <svg class="h-6 w-6 mr-1 text-orange-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                        d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg>
                      <spam class="text-gray-700 text-base">Duration: {m.data.dates}</spam>
                    </div>
                  )}
                  {m.data.season && (
                    <div class="flex items-center">
                      <svg class="h-6 w-6 mr-1 align-text-top text-orange-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                        d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                      </svg>
                      <spam class="text-gray-700 text-base">Availability: {m.data.season}</spam>
                    </div>
                  )}
                  {m.data.difficulty && (
                    <div class="flex items-center">
                      <svg class="h-6 w-6 mr-1 align-text-top text-orange-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                        d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941" />
                      </svg>
                      <spam class="text-gray-700 text-base">Difficulty: {m.data.difficulty}</spam>
                    </div>
                  )}
                  {m.data.pax && (
                    <div class="flex items-center">
                      <svg class="h-6 w-6 mr-1 align-text-top text-orange-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                        d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
                      </svg>
                      <spam class="text-gray-700 text-base">People per Guide: {m.data.pax}</spam>
                    </div>
                  )}
                </div>
              )}
            </div>
          </a>
        ))}
      </div>
    </div>
  </section>