---
import ButtonArrowBlanco from "../UI/ButtonArrowBlanco.astro";
import AnimatedTitle from "./AnimatedTitle.astro";
const { 
  title = ["Discover", "Cordillera Blanca", "and Huayhuash"], 
  subtitle = "If you think it's impossible, we can make it happen!", 
  buttonText = "Choose Your Experience", 
  buttonLink = "#experiences", 
  videoSrc = "/uploads/Video.mp4" } = Astro.props;

---

<section class="static h-screen w-full overflow-hidden">
  <!-- Video de fondo -->
  <video
    autoplay
    muted
    loop
    playsinline
    class="absolute inset-0 w-full h-full object-cover z-0"
  >
    <source src={videoSrc} type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <!-- Capa de oscurecimiento -->
  <div class="absolute inset-0 bg-black bg-opacity-40 z-10"></div>

  <!-- Contenido superpuesto -->
  <div class="relative z-20 flex flex-col items-center justify-center h-full text-center text-white px-4">

    <h1 class="text-2xl md:text-7xl font-normal mb-8 text-white">
      {
        title.map((line: string) => (
          <span class={`block text-white mb-4 text-6xl md:text-6xl `}>
            {line}
          </span>
        ))
      }
    </h1>

    <p class="text-lg md:text-4xl mb-6">{subtitle}</p>

    <ButtonArrowBlanco text={buttonText} href={buttonLink} />

  </div>
</section>
