---
import { getCollection } from "astro:content";

// Get the office hours from the siteInfo collection
let officeHours;
try {
  const siteInfoEntries = await getCollection("siteInfo");
  officeHours = siteInfoEntries.find(entry => entry.id === "office-hours");
} catch (error) {
  // Collection might not exist yet when first setting up the project
  console.log("Office hours not found or collections not yet available");
}

// Footer navigation groups
const footerNavs = [
  {
    title: "Site Links",
    items: [
      { text: "About Us", href: "/about-us" },
      { text: "Mountaineering", href: "mountaineering" },
      { text: "Contact", href: "/contact" },
      { text: "FAQ", href: "/faq" },

    ],
  },
  {
    title: "Blabla",
    items: [
      { text: "Blabla", href: "/Blabla" },
      { text: "Blabla", href: "/Blabla" },
      { text: "Blabla", href: "/Blabla" },
      { text: "Blabla", href: "/Blablaistries" },
    ],
  },
  
];

// Social media links
const socialLinks = [
  { 
    name: "Facebook",
    href: "https://www.facebook.com/andeankingdomadventures", 
    icon: `<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
            <path d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"/>
          </svg>` 
  },
  { 
    name: "Instagram", 
    href: "https://www.instagram.com/andeankingdom/", 
    icon: `<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
            <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/>
          </svg>` 
  },
  // { 
  //   name: "YouTube", 
  //   href: "https://youtube.com/andeankingdom", 
  //   icon: `<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
  //           <path d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"/>
  //         </svg>` 
  // },
];

// Current year for copyright
const currentYear = new Date().getFullYear();

// Render office hours content if available
let OfficeHoursContent = null;
if (officeHours) {
  const { Content } = await officeHours.render();
  OfficeHoursContent = Content;
}
---

<footer class="bg-gray-900 text-white mt-40 pt-16 pb-8 relative">  
  <!-- Skyline desde SVG integrado -->
  <div class="absolute -top-[120px] w-full overflow-hidden leading-none">
    <svg viewBox="0 0 800 532" preserveAspectRatio="none" class="w-full h-32">
      <path d="M0,532 L0,421 L1,421 L2,421 L3,421 L4,421 L5,421 L6,422 L7,422 L8,422 L9,422 L10,423 L11,423 L12,423 L13,424 L14,424 L15,424 L16,425 L17,425 L18,426 L19,426 L20,426 L21,427 L22,427 L23,427 L24,428 L25,428 L26,428 L27,428 L28,428 L29,429 L30,429 L31,429 L32,429 L33,430 L34,430 L35,430 L36,430 L37,431 L38,431 L39,431 L40,432 L41,432 L42,432 L43,432 L44,432 L45,432 L46,431 L47,431 L48,430 L49,429 L50,428 L51,428 L52,427 L53,426 L54,426 L55,425 L56,425 L57,426 L58,427 L59,427 L60,429 L61,430 L62,431 L63,432 L64,433 L65,435 L66,435 L67,436 L68,437 L69,437 L70,438 L71,438 L72,439 L73,439 L74,439 L75,439 L76,439 L77,439 L78,439 L79,439 L80,439 L81,438 L82,438 L83,437 L84,436 L85,435 L86,434 L87,433 L88,432 L89,431 L90,430 L91,430 L92,430 L93,431 L94,431 L95,432 L96,433 L97,435 L98,436 L99,437 L100,439 L101,440 L102,441 L103,442 L104,443 L105,444 L106,445 L107,445 L108,446 L109,447 L110,447 L111,448 L112,448 L113,449 L114,450 L115,450 L116,451 L117,451 L118,452 L119,452 L120,452 L121,452 L122,451 L123,450 L124,448 L125,446 L126,444 L127,441 L128,437 L129,433 L130,429 L131,424 L132,420 L133,416 L134,412 L135,409 L136,407 L137,405 L138,405 L139,406 L140,408 L141,410 L142,413 L143,416 L144,419 L145,421 L146,422 L147,422 L148,420 L149,416 L150,411 L151,404 L152,396 L153,386 L154,376 L155,366 L156,356 L157,347 L158,338 L159,330 L160,323 L161,317 L162,312 L163,307 L164,302 L165,297 L166,292 L167,287 L168,281 L169,276 L170,270 L171,264 L172,259 L173,254 L174,249 L175,246 L176,242 L177,240 L178,238 L179,236 L180,235 L181,234 L182,233 L183,233 L184,232 L185,232 L186,232 L187,232 L188,232 L189,232 L190,233 L191,234 L192,235 L193,237 L194,240 L195,243 L196,247 L197,252 L198,258 L199,265 L200,274 L201,283 L202,293 L203,305 L204,317 L205,331 L206,345 L207,359 L208,373 L209,387 L210,400 L211,412 L212,422 L213,430 L214,436 L215,439 L216,439 L217,437 L218,431 L219,423 L220,412 L221,399 L222,385 L223,370 L224,354 L225,338 L226,322 L227,308 L228,295 L229,283 L230,273 L231,265 L232,258 L233,253 L234,249 L235,246 L236,244 L237,242 L238,241 L239,241 L240,241 L241,241 L242,241 L243,242 L244,244 L245,245 L246,248 L247,251 L248,256 L249,261 L250,268 L251,277 L252,287 L253,299 L254,312 L255,327 L256,343 L257,359 L258,376 L259,392 L260,407 L261,422 L262,435 L263,447 L264,457 L265,466 L266,472 L267,478 L268,482 L269,484 L270,485 L271,486 L272,485 L273,483 L274,479 L275,475 L276,469 L277,461 L278,453 L279,443 L280,431 L281,419 L282,407 L283,394 L284,381 L285,368 L286,356 L287,344 L288,334 L289,325 L290,318 L291,312 L292,308 L293,306 L294,306 L295,307 L296,311 L297,316 L298,322 L299,328 L300,335 L301,342 L302,347 L303,351 L304,353 L305,354 L306,352 L307,348 L308,342 L309,335 L310,327 L311,318 L312,310 L313,302 L314,295 L315,289 L316,284 L317,280 L318,276 L319,274 L320,271 L321,270 L322,268 L323,266 L324,264 L325,261 L326,259 L327,257 L328,255 L329,253 L330,251 L331,250 L332,249 L333,248 L334,248 L335,248 L336,248 L337,248 L338,247 L339,247 L340,245 L341,244 L342,241 L343,238 L344,234 L345,230 L346,226 L347,221 L348,217 L349,212 L350,209 L351,205 L352,202 L353,200 L354,198 L355,197 L356,197 L357,196 L358,197 L359,197 L360,198 L361,199 L362,200 L363,202 L364,204 L365,206 L366,209 L367,212 L368,215 L369,219 L370,223 L371,227 L372,232 L373,238 L374,245 L375,252 L376,260 L377,269 L378,279 L379,291 L380,303 L381,316 L382,329 L383,343 L384,356 L385,369 L386,381 L387,392 L388,400 L389,407 L390,411 L391,412 L392,411 L393,407 L394,401 L395,393 L396,384 L397,374 L398,364 L399,354 L400,346 L401,340 L402,336 L403,334 L404,335 L405,338 L406,343 L407,350 L408,358 L409,368 L410,378 L411,388 L412,398 L413,407 L414,416 L415,423 L416,429 L417,433 L418,435 L419,435 L420,434 L421,430 L422,425 L423,418 L424,409 L425,399 L426,389 L427,378 L428,367 L429,356 L430,346 L431,337 L432,329 L433,322 L434,315 L435,309 L436,303 L437,298 L438,293 L439,288 L440,284 L441,281 L442,277 L443,275 L444,274 L445,273 L446,273 L447,275 L448,276 L449,279 L450,281 L451,284 L452,286 L453,288 L454,289 L455,289 L456,288 L457,285 L458,282 L459,278 L460,273 L461,268 L462,263 L463,257 L464,252 L465,248 L466,244 L467,241 L468,238 L469,236 L470,234 L471,233 L472,231 L473,230 L474,229 L475,228 L476,227 L477,226 L478,225 L479,224 L480,223 L481,222 L482,221 L483,220 L484,218 L485,217 L486,216 L487,214 L488,213 L489,212 L490,210 L491,209 L492,208 L493,207 L494,206 L495,205 L496,204 L497,204 L498,203 L499,203 L500,202 L501,202 L502,202 L503,201 L504,201 L505,201 L506,201 L507,201 L508,201 L509,201 L510,201 L511,201 L512,201 L513,201 L514,201 L515,201 L516,201 L517,201 L518,201 L519,201 L520,201 L521,201 L522,201 L523,201 L524,201 L525,201 L526,201 L527,201 L528,201 L529,201 L530,201 L531,201 L532,201 L533,201 L534,201 L535,201 L536,201 L537,201 L538,201 L539,201 L540,201 L541,201 L542,201 L543,202 L544,202 L545,202 L546,203 L547,203 L548,204 L549,205 L550,207 L551,209 L552,211 L553,213 L554,217 L555,220 L556,224 L557,229 L558,234 L559,239 L560,244 L561,249 L562,254 L563,259 L564,263 L565,267 L566,270 L567,272 L568,273 L569,274 L570,275 L571,276 L572,276 L573,277 L574,278 L575,280 L576,282 L577,285 L578,289 L579,294 L580,300 L581,306 L582,313 L583,319 L584,325 L585,331 L586,336 L587,340 L588,343 L589,346 L590,347 L591,349 L592,350 L593,351 L594,352 L595,355 L596,357 L597,361 L598,366 L599,371 L600,376 L601,381 L602,386 L603,391 L604,396 L605,399 L606,402 L607,405 L608,406 L609,407 L610,408 L611,408 L612,407 L613,407 L614,406 L615,405 L616,405 L617,404 L618,403 L619,402 L620,402 L621,401 L622,400 L623,399 L624,397 L625,396 L626,394 L627,392 L628,390 L629,388 L630,387 L631,386 L632,385 L633,385 L634,386 L635,386 L636,387 L637,388 L638,388 L639,387 L640,385 L641,382 L642,378 L643,373 L644,366 L645,358 L646,349 L647,339 L648,330 L649,320 L650,312 L651,305 L652,299 L653,295 L654,293 L655,292 L656,294 L657,297 L658,301 L659,306 L660,311 L661,315 L662,319 L663,321 L664,322 L665,321 L666,318 L667,313 L668,307 L669,299 L670,291 L671,282 L672,274 L673,266 L674,258 L675,252 L676,246 L677,241 L678,238 L679,235 L680,233 L681,231 L682,230 L683,230 L684,229 L685,229 L686,229 L687,230 L688,230 L689,230 L690,230 L691,231 L692,231 L693,231 L694,232 L695,232 L696,232 L697,233 L698,233 L699,234 L700,235 L701,236 L702,237 L703,238 L704,240 L705,242 L706,245 L707,248 L708,251 L709,256 L710,260 L711,265 L712,271 L713,277 L714,283 L715,288 L716,293 L717,298 L718,301 L719,303 L720,305 L721,305 L722,304 L723,303 L724,301 L725,298 L726,296 L727,294 L728,293 L729,293 L730,294 L731,296 L732,299 L733,303 L734,308 L735,312 L736,316 L737,319 L738,322 L739,322 L740,322 L741,319 L742,315 L743,309 L744,303 L745,295 L746,288 L747,280 L748,273 L749,266 L750,260 L751,255 L752,251 L753,248 L754,245 L755,244 L756,243 L757,242 L758,242 L759,243 L760,243 L761,244 L762,246 L763,247 L764,249 L765,250 L766,252 L767,254 L768,255 L769,257 L770,258 L771,259 L772,259 L773,260 L774,260 L775,259 L776,259 L777,258 L778,258 L779,257 L780,256 L781,256 L782,255 L783,254 L784,254 L785,254 L786,254 L787,254 L788,254 L789,254 L790,255 L791,256 L792,257 L793,258 L794,259 L795,260 L796,261 L797,262 L798,262 L799,263 L800,532 Z" fill="#111827" />
    </svg>
  </div>
  
  <div class="container relative">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 mb-12">
      <!-- Church Info -->
      <div>
        <div class="mb-4">
          <a href="/" class="text-2xl font-bold text-white font-serif inline-flex items-center">
            <span class="sr-only">Andean Kingdom</span>
            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="h-12 w-auto text-white mr-2">
              <path fill="currentColor" d="M344 24c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 24-32 0c-13.3 0-24 10.7-24 24s10.7 24 24 24l32 0 0 46.4L183.3 210c-14.5 8.7-23.3 24.3-23.3 41.2L160 512l96 0 0-96c0-35.3 28.7-64 64-64s64 28.7 64 64l0 96 96 0 0-260.8c0-16.9-8.8-32.5-23.3-41.2L344 142.4 344 96l32 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-32 0 0-24zM24.9 330.3C9.5 338.8 0 354.9 0 372.4L0 464c0 26.5 21.5 48 48 48l80 0 0-238.4L24.9 330.3zM592 512c26.5 0 48-21.5 48-48l0-91.6c0-17.5-9.5-33.6-24.9-42.1L512 273.6 512 512l80 0z"/>
            </svg> -->
            <span>Andean Kingdom</span>
          </a>
        </div>
        
        <address class="not-italic mb-4 text-gray-300">
          
          <p class="mt-2">
            <a href="tel:+15551234567" class="hover:text-primary-300">
              +51 944 913 011
            </a>
          </p>
          <p>
            <a href="mailto:andeankingdom@gmail.com" class="hover:text-primary-300">
              andeankingdom@gmail.com
            </a>
          </p>
        </address>
        
        
        
        <!-- Social Links -->
        <div class="flex space-x-4 mt-6">
          {
            socialLinks.map((link) => (
              <a
                href={link.href}
                target="_blank"
                rel="noopener noreferrer"
                class="text-orange-500 hover:text-white transition-colors"
                aria-label={link.name}
              >
                <Fragment set:html={link.icon} />
              </a>
            ))
          }
        </div>
      </div>

      <!-- Office Hours -->
        <div class="text-gray-300">
          <h4 class="text-lg font-bold mb-4 text-white">Office</h4>
          {
            OfficeHoursContent ? (
              <div class="text-sm prose prose-sm prose-invert max-w-none [&_h3]:text-white [&_h3]:text-sm [&_h3]:font-bold [&_h3]:mb-2 [&_ul]:list-none [&_ul]:p-0 [&_li]:mb-1 [&_strong]:text-white">
                <OfficeHoursContent />
              </div>
            ) : (
              <p>Parque Ginebra 120</p>
              <p>Huaraz - Perú</p>
              <div class="mt-2 text-sm">
                <p><strong class="text-white">Mon-Fri:</strong> 9:00 AM - 5:00 PM</p>
                <p><strong class="text-white">Saturday:</strong> 9:00 AM - 1:00 PM</p>
                <p><strong class="text-white">Sunday:</strong> Closed</p>
              </div>
            )
          }
        </div>
      
      <!-- Navigation Links -->
      {
        footerNavs.map((group) => (
          <div>
            <h4 class="text-lg font-bold mb-4 text-white">{group.title}</h4>
            <ul class="space-y-2">
              {group.items.map((item) => (
                <li>
                  <a 
                    href={item.href} 
                    class="text-gray-300 hover:text-primary-300 transition-colors"
                  >
                    {item.text}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
    
    <!-- Copyright -->
    <div class="pt-8 mt-8 border-t border-gray-800 text-center text-gray-400 text-sm">
      <p>&copy; {currentYear} Andean Kingdom. All rights reserved.</p>
      
      <!-- <p class="mt-2">
        <a href="/privacy-policy" class="hover:text-primary-300 mr-4">Privacy Policy</a>
        <a href="/terms-of-service" class="hover:text-primary-300">Terms of Service</a>
      </p> -->
    </div>
  </div>
</footer>